body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
}

h1 {
    margin: 0.25rem;
    text-align: center;
    flex: 1;
}

p, nav {
    text-align: center;
    flex: 1;
}

a {
    color: #0ff;
}
a:visited {
    color: #f5b;
}
a:hover, a:active {
    color: #0f0;
}

main header {
    background: #222;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0.25em;
    padding: 0;
}
nav li {
    display: inline-block;
}

main {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#graphcontainer {
    flex: 80;
    /*min-height: 10rem;
    max-width: 100%;
    max-height: 10rem;*/
    overflow: scroll;
}

#graphcontainer graph {
    display: block;
    height: 5rem;
    width: 10rem;
}